@{
	ViewData["Title"] = "Cookie | Index";
}

<div class="card">
	<div class="card-header">
		<h1 class="bg-info text-white">Cookie Index</h1>
	</div>
	<div class="card-body">
		Cookie has been created! Visit cookie page to see results.
	</div>
	<br />
	<br />
	<a class="btn btn-success" asp-action="ShowCookie" asp-controller="Cookie">See Cookies</a>
</div>